.parent{
    min-height: 100vh;
    width: 100%;
    background-color: #1e1e1e;
    padding: 20px;
    display: flex;
    flex-wrap: wrap !important;
    gap: 30px;
    align-items: flex-start;
}
*{
    /* overflow: hidden; */
}