
.card{
    height: 260px;
    width: 220px;
    background-color: #ffff;
    border-radius: 30px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid #dadada;
    padding: 2px;
}

.top button{
    display: flex;
    align-items: center;
    border: 1px solid #dadada;
    padding: 4px 8px;
    font-size: 13px;
    border-radius: 5px;
    gap: 4px;
    background-color: transparent;
    color: #646464;
}

.center{
    margin-top: 10px;
}

.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #b1b1b18c;
    padding-top: 15px;
}

.center h3{
    font-size: 17px;
    font-weight: 400;
}

.center h3 span{
    font-size: 9px;
    font-weight: 400px;
    color: #8b8b8b;
}

.center h2{
    font-size: 20px;
    font-weight: 700;
}

.center .tag{
    display: flex;
    gap: 5px;
    margin-top: 10px;   
}
.center .tag h4{
    font-size: 10px;
    background-color: #dadada;
    color: black;
    padding: 4px 6px;   
    font-weight: 500px;
    border-radius: 5px;
}

.bottom button{
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    column-width: 600;
}

.bottom h3{
    font-size: 17px;
}
.bottom p{
    font-size: 10px;
    color: #8b8b8b;
}

.font-fam{
    font-family: BBH system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}