#block {
    width: 80px;
    height: 100vh;
    background-color: #3A5FF8;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    transition: width 0.3s ease-in-out;
}

#block:hover {
    width: 150px;
}


#panel {
    flex: 1;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}


#title {
    padding: 10px;
    color: white;
    font-size: 15px;
}


.menu-item {
    margin-top: 20px;
    padding: 8px 5px;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color 0.15s ease-in;
}

.menu-item:hover {
    background-color: #0528b4;
    width: 100px;
}


.menu-item img {
    width: 50px;
    height: 20px;
}

.menu-item.large img {
    width: 55px;
    height: 25px;
}

.menu-item.logout img {
    width: 35px;
    height: 18px;
}


#line {
    margin-top: auto;
    margin-bottom: 12px;

    height: 1px;
    width: 60%;
    background-color: #ffffff;

    transition: width 0.3s ease-in-out;
}

#block:hover #line {
    width: 80%;
}


#settings{
    margin-bottom: 5px;
}

#logout {
    margin-bottom: 20px;
}
